# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python logs
*.log

# Editor/IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# test_files
test*
测试*

# third-party repository
hw5/CTCDecoder/
smart12_4/word-embeddings-for-nmt
smart12_4/data/
smart12_4/ted*
smart12_4/dict*